body {
  background-image: url('/images/BG.png')
}

.welcomePlayer{
  padding-top: 100px;
  text-align: center;
}


.playerForm{
  padding-top: 40px;
}


.nameField {

}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}