
<!DOCTYPE html>
<html>
<head>
  <style>
</style>
  <title>Game</title>
  <script src="/scripts/phaser.js"></script>
  <script src="/socket.io/socket.io.js"></script>
   <script src="/scripts/playerController.js"></script>


</head>
<body>
    <style>
        canvas {
            margin: 0px;
        }
    </style>
</body>
</html>