
<!DOCTYPE html>
<html>
<head>
  <style>
</style>
  <title>Game</title>
  <script src="/scripts/phaser.js"></script>

   <script src="/scripts/playerController.js"></script>


</head>
<body>

</body>
</html>