<head>

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/scripts/gameStart.js"></script> -->

    <link rel="stylesheet" href="/styles/gameNew.css" type="text/css" />
</head>

<body>

<section class="welcomeGame">
  <h1 class="game-title">Dino Land</h1>
  <form methon="GET" action='/welcome' id="gameStart">
    <button class="btn btn-primary pink-background" id="playButton" type="submit" >
      New Game
    </button>
  </form>



</section>
</body>



