
<!DOCTYPE html>
<html>
<head>
  <style>
</style>
  <title>Game</title>
  <p id="userID" hidden><%= (id) %></p>
  <p id='token' hidden><%= (theToken) %></p>
  <script src="/scripts/phaser.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/phaser-plugin-virtual-gamepad.js"></script>
   <script src="/scripts/playerController.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>

</head>
<body>
    <style>
        canvas {
            margin: 0px;
        }
    </style>

</body>
</html>