<!DOCTYPE html>
<html>
<head>
  <title>Phaser Fighting Game</title>
  <script src="/scripts/phaser.js"></script>
        <script src="/socket.io/socket.io.js"></script>
      <script src="/scripts/main.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <style>
        canvas {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="game">
    </div>
</body>
</html>