@media screen and (min-width: 1024px){

  body{
    background-image: url('/assets/gameWelcome2.png');
    height: 100%;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .welcomeGame{
    padding-top: 60px;
    text-align: center;
  }
  .game-title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 450%;
  }


  #playButton {
    margin-top: 120px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 300%;
    border-radius: 22px;
    background-color: 00BFFF:
  }


  #rankButton {
    margin-top: 120px;
    background-color: 00BFFF;
    border-radius: 20px;
    border-color: transparent;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 150%;
    margin-bottom: 30px;

  }


  .rankingForm{
    padding-top: 5px;
  }

  .rankTable {
    margin-left:auto; margin-right:auto;
    background-color: FFE4E1;
    font-size: 120%;
    border-radius: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    opacity: 0.95;
  }

  .theName, .theScore {
    padding-left: 20px;
  }

   .scoreRow {
    padding-left: 80px;
  }

  .nameRow {
    padding-left: 15px;
  }
  .theScore {
   padding-right: 15px;
  }

  .theName, .theScore, .nameRow, .scoreRow {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

  .pink-background {
    background-color:F08080;
    border-color: transparent;
  }*/

